.myText{
    color: #141414;
    margin: 15px;
    margin-bottom: 0px;
    text-align: justify;
     text-justify: inter-word;
}
.my-ActionBar{
    color: #ecf0f1;
    background-color: #e74c3c;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #141414;
    margin: 1em 0;
    padding: 0; 
}
